//COLORS
$bg-color: #F7F7F9;
$primary-color: #ffff;
$title-color: #444C5E;
$text-color: #697284;
$secondary-text-color: #222232;
$caption-text-color: #9DA5B7;
$placeholder-text-color: #D4D8E1;
$secondary-color: #04B2F3;
$bg-color-exportar: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
$bg-color-registrar-venta: #FD0087;
$bg-chip-color-comprobante: linear-gradient(0deg, rgba(4, 178, 243, 0.3), rgba(4, 178, 243, 0.3)), #FFFFFF;
$bg-chip-color-pagada: linear-gradient(0deg, rgba(23, 230, 138, 0.3), rgba(23, 230, 138, 0.3)), #FFFFFF;
$bg-chip-color-pendiente: #ECEEF1;
$bg-chip-color-rechazada: linear-gradient(0deg, rgba(255, 69, 92, 0.4), rgba(255, 69, 92, 0.4)), #FFFFFF;
$divisor-color: #B3BAC9;
$outline-text-color: #D4D8E1;

 